[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
mkdocs = "*"
mkdocs-material = "*"
mkdocs-macros-plugin = "*"
mkdocs-swagger-ui-plugin = {git = "https://github.com/cyberrangecz/devops-mkdocs-swagger-ui-plugin.git"}

[requires]
python_version = "3.10"
