p, ol, li, ul {
    font-size: 16px !important;
}

h1 {
    margin-bottom: 0px !important;
}

img {
    margin-top: 0px !important; 
}

#ack-table + div thead {
     height: 0px !important;
     font-size:0; 
     margin:0;
}

.lock-open {
    color: rgb(64, 81, 181);
    font-size: 18px;
}

.red {
    color: red;
}

.blue {
    color: rgb(64, 81, 181);
}

.grey {
    color: rgb(119, 119, 119);
}

.pink {
    color: rgb(244, 61, 123);
}

.green {
    color: green;
}

.warning {
    color: rgb(255, 165, 0);
}

.running-stage-color {
    color: rgb(0, 0, 255);
}

.in-queue-stage-color {
    color: rgb(184, 134, 11);
}

.icon {
    font-size: 18px;
    position: relative;
    bottom: 3px;
}

.inline-button {
    height: 1rem;
    max-height: 1.5rem;
    vertical-align: middle;
    display: inline;
}

td, th {
    vertical-align: middle !important;
}

details p, details summary, .admonition p {
   font-size: 14px !important; 
}

.md-logo img {
   transform: scale(1.5); 
}

.opblock-summary-description {
    text-align: right !important;    
}

.admonition li {
    font-size: 14px !important;
}

:root {
  --md-admonition-icon--allocate-all: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20 8H4V6h16v2m-2-6H6v2h12V2m4 10v8a2 2 0 01-2 2H4a2 2 0 01-2-2v-8a2 2 0 012-2h16a2 2 0 012 2m-6 4l-6-3.27v6.53L16 16z"/></svg>');
   
  --md-admonition-icon--plus-one: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10 8v4h4v2h-4v4H8v-4H4v-2h4V8h2m4.5-1.92L19 5v13h-2V7.4l-2.5.5V6.08z"/></svg>');
  
  --md-admonition-icon--trash-can: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19 4h-3.5l-1-1h-5l-1 1H5v2h14M6 19a2 2 0 002 2h8a2 2 0 002-2V7H6v12z"/></svg>');

  --md-admonition-icon--clear-all: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M5 13h14v-2H5m-2 6h14v-2H3m4-8v2h14V7"/></svg>');

  --md-admonition-icon--lock: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17a2 2 0 002-2 2 2 0 00-2-2 2 2 0 00-2 2 2 2 0 002 2m6-9a2 2 0 012 2v10a2 2 0 01-2 2H6a2 2 0 01-2-2V10a2 2 0 012-2h1V6a5 5 0 015-5 5 5 0 015 5v2h1m-6-5a3 3 0 00-3 3v2h6V6a3 3 0 00-3-3z"/></svg>');

  --md-admonition-icon--unlock: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18 20V10H6v10h12m0-12a2 2 0 012 2v10a2 2 0 01-2 2H6a2 2 0 01-2-2V10a2 2 0 012-2h9V6a3 3 0 00-3-3 3 3 0 00-3 3H7a5 5 0 015-5 5 5 0 015 5v2h1m-6 9a2 2 0 01-2-2 2 2 0 012-2 2 2 0 012 2 2 2 0 01-2 2z"/></svg>');

  --md-admonition-icon--topology: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M0 0h24v24H0V0z" fill="none"/><path d="M17 16l-4-4V8.82C14.16 8.4 15 7.3 15 6c0-1.66-1.34-3-3-3S9 4.34 9 6c0 1.3.84 2.4 2 2.82V12l-4 4H3v5h5v-3.05l4-4.2 4 4.2V21h5v-5h-4z"/></svg>');

  --md-admonition-icon--cancel: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2c5.53 0 10 4.47 10 10s-4.47 10-10 10S2 17.53 2 12 6.47 2 12 2m3.59 5L12 10.59 8.41 7 7 8.41 10.59 12 7 15.59 8.41 17 12 13.41 15.59 17 17 15.59 13.41 12 17 8.41 15.59 7z"/></svg>');

  --md-admonition-icon--download: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17 13l-5 5-5-5h3V9h4v4m5.35-2.97A7.49 7.49 0 0012 4C9.11 4 6.6 5.64 5.35 8.03A6.004 6.004 0 000 14a6 6 0 006 6h13a5 5 0 005-5c0-2.64-2.05-4.78-4.65-4.97z"/></svg>');

  --md-admonition-icon--preview: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/></svg>');

  --md-admonition-icon--archive: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M20.54 5.23l-1.39-1.68C18.88 3.21 18.47 3 18 3H6c-.47 0-.88.21-1.16.55L3.46 5.23C3.17 5.57 3 6.02 3 6.5V19c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6.5c0-.48-.17-.93-.46-1.27zM12 17.5L6.5 12H10v-2h4v2h3.5L12 17.5zM5.12 5l.81-1h12l.94 1H5.12z"/></svg>');

  --md-admonition-icon--clone: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm-1 4l6 6v10c0 1.1-.9 2-2 2H7.99C6.89 23 6 22.1 6 21l.01-14c0-1.1.89-2 1.99-2h7zm-1 7h5.5L14 6.5V12z"/></svg>');

  --md-admonition-icon--key: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M7 14c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2m5.6-4c-.8-2.3-3-4-5.6-4-3.3 0-6 2.7-6 6s2.7 6 6 6c2.6 0 4.8-1.7 5.6-4H16v4h4v-4h3v-4z"/></svg>');

  --md-admonition-icon--run-circle: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24"><g><rect fill="none" height="24" width="24"/></g><g><path d="M12,2C6.48,2,2,6.48,2,12c0,5.52,4.48,10,10,10s10-4.48,10-10C22,6.48,17.52,2,12,2z M13.5,6c0.55,0,1,0.45,1,1 c0,0.55-0.45,1-1,1s-1-0.45-1-1C12.5,6.45,12.95,6,13.5,6z M16,12c-0.7,0-2.01-0.54-2.91-1.76l-0.41,2.35L14,14.03V18h-1v-3.58 l-1.11-1.21l-0.52,2.64L7.6,15.08l0.2-0.98l2.78,0.57l0.96-4.89L10,10.35V12H9V9.65l3.28-1.21c0.49-0.18,1.03,0.06,1.26,0.53 C14.37,10.67,15.59,11,16,11V12z"/></g></svg>');

  --md-admonition-icon--pin: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24"><g><path d="M0,0h24v24H0V0z" fill="none"/></g><g><g><path d="M20,4H4C2.9,4,2,4.9,2,6v12c0,1.1,0.9,2,2,2h16c1.1,0,2-0.9,2-2V6C22,4.9,21.1,4,20,4z M7.64,15H6.49v-4.5l-0.9,0.66 l-0.58-0.89L6.77,9h0.87V15z M13.5,15H9.61v-1.02c1.07-1.07,1.77-1.77,2.13-2.15c0.4-0.42,0.54-0.69,0.54-1.06 c0-0.4-0.31-0.72-0.81-0.72c-0.52,0-0.8,0.39-0.9,0.72l-1.01-0.42c0.01-0.02,0.18-0.76,1-1.15c0.69-0.33,1.48-0.2,1.95,0.03 c0.86,0.44,0.91,1.24,0.91,1.48c0,0.64-0.31,1.26-0.92,1.86c-0.25,0.25-0.72,0.71-1.4,1.39l0.03,0.05h2.37V15z M18.75,14.15 C18.67,14.28,18.19,15,16.99,15c-0.04,0-1.6,0.08-2.05-1.51l1.03-0.41c0.03,0.1,0.19,0.86,1.02,0.86c0.41,0,0.89-0.28,0.89-0.77 c0-0.55-0.48-0.79-1.04-0.79h-0.5v-1h0.46c0.33,0,0.88-0.14,0.88-0.72c0-0.39-0.31-0.65-0.75-0.65c-0.5,0-0.74,0.32-0.85,0.64 l-0.99-0.41C15.2,9.9,15.68,9,16.94,9c1.09,0,1.54,0.64,1.62,0.75c0.33,0.5,0.28,1.16,0.02,1.57c-0.15,0.22-0.32,0.38-0.52,0.48 v0.07c0.28,0.11,0.51,0.28,0.68,0.52C19.11,12.91,19.07,13.66,18.75,14.15z"/></g></g></svg>');

  --md-admonition-icon--insights: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24"><g><rect fill="none" height="24" width="24"/></g><g><g><path d="M21,8c-1.45,0-2.26,1.44-1.93,2.51l-3.55,3.56c-0.3-0.09-0.74-0.09-1.04,0l-2.55-2.55C12.27,10.45,11.46,9,10,9 c-1.45,0-2.27,1.44-1.93,2.52l-4.56,4.55C2.44,15.74,1,16.55,1,18c0,1.1,0.9,2,2,2c1.45,0,2.26-1.44,1.93-2.51l4.55-4.56 c0.3,0.09,0.74,0.09,1.04,0l2.55,2.55C12.73,16.55,13.54,18,15,18c1.45,0,2.27-1.44,1.93-2.52l3.56-3.55 C21.56,12.26,23,11.45,23,10C23,8.9,22.1,8,21,8z"/><polygon points="15,9 15.94,6.93 18,6 15.94,5.07 15,3 14.08,5.07 12,6 14.08,6.93"/><polygon points="3.5,11 4,9 6,8.5 4,8 3.5,6 3,8 1,8.5 3,9"/></g></g></svg>');

  --md-admonition-icon--assessment: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zM9 17H7v-7h2v7zm4 0h-2V7h2v10zm4 0h-2v-4h2v4z"/></svg>');

  --md-admonition-icon--stacked-bar-chart: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M6 10h3v10H6zm0-5h3v4H6zm10 11h3v4h-3zm0-3h3v2h-3zm-5 0h3v7h-3zm0-4h3v3h-3z"/></svg>');

  --md-admonition-icon--deprecated: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M7 11v2h10v-2H7zm5-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/></svg>');
}


.md-typeset .trash-can > summary::before {
  background-color: red;
  -webkit-mask-image: var(--md-admonition-icon--trash-can);
          mask-image: var(--md-admonition-icon--trash-can);
}
.md-typeset .allocate-all > summary::before {
  background-color: rgb(64, 81, 181);
  -webkit-mask-image: var(--md-admonition-icon--allocate-all);
          mask-image: var(--md-admonition-icon--allocate-all);
}
.md-typeset .plus-one > summary::before {
  background-color: rgb(64, 81, 181);
  -webkit-mask-image: var(--md-admonition-icon--plus-one);
          mask-image: var(--md-admonition-icon--plus-one);
}
.md-typeset .clear-all > summary::before {
  background-color: red;
  -webkit-mask-image: var(--md-admonition-icon--clear-all);
          mask-image: var(--md-admonition-icon--clear-all);
}
.md-typeset .lock > summary::before {
  background-color: rgb(64, 81, 181);
  -webkit-mask-image: var(--md-admonition-icon--lock);
          mask-image: var(--md-admonition-icon--lock);
}
.md-typeset .unlock > summary::before {
  background-color: rgb(64, 81, 181);
  -webkit-mask-image: var(--md-admonition-icon--unlock);
          mask-image: var(--md-admonition-icon--unlock);
}
.md-typeset .topology > summary::before {
  background-color: rgb(64, 81, 181);
  -webkit-mask-image: var(--md-admonition-icon--topology);
          mask-image: var(--md-admonition-icon--topology);
}
.md-typeset .cancel > summary::before {
  background-color: red;
  -webkit-mask-image: var(--md-admonition-icon--cancel);
          mask-image: var(--md-admonition-icon--cancel);
}

.md-typeset .download > summary::before {
  background-color: rgb(64, 81, 181);
  -webkit-mask-image: var(--md-admonition-icon--download);
          mask-image: var(--md-admonition-icon--download);
}
.md-typeset .preview > summary::before {
    background-color: rgb(64, 81, 181);
    -webkit-mask-image: var(--md-admonition-icon--preview);
            mask-image: var(--md-admonition-icon--preview);
}

.md-typeset .archive > summary::before {
    background-color: rgb(119, 119, 119);
    -webkit-mask-image: var(--md-admonition-icon--archive);
            mask-image: var(--md-admonition-icon--archive);
}

.md-typeset .clone > summary::before {
    background-color: rgb(64, 81, 181);
    -webkit-mask-image: var(--md-admonition-icon--clone);
            mask-image: var(--md-admonition-icon--clone);
}

.md-typeset .key > summary::before {
    background-color: rgb(64, 81, 181);
    -webkit-mask-image: var(--md-admonition-icon--key);
            mask-image: var(--md-admonition-icon--key);
}

.md-typeset .run-circle > summary::before {
    background-color: rgb(64, 81, 181);
    -webkit-mask-image: var(--md-admonition-icon--run-circle);
            mask-image: var(--md-admonition-icon--run-circle);
}

.md-typeset .pin > summary::before {
    background-color: rgb(64, 81, 181);
    -webkit-mask-image: var(--md-admonition-icon--pin);
            mask-image: var(--md-admonition-icon--pin);
}

.md-typeset .insights > summary::before {
    background-color: rgb(64, 81, 181);
    -webkit-mask-image: var(--md-admonition-icon--insights);
            mask-image: var(--md-admonition-icon--insights);
}

.md-typeset .assessment > summary::before {
    background-color: rgb(64, 81, 181);
    -webkit-mask-image: var(--md-admonition-icon--assessment);
            mask-image: var(--md-admonition-icon--assessment);
}

.md-typeset .stacked-bar-chart > summary::before {
    background-color: rgb(64, 81, 181);
    -webkit-mask-image: var(--md-admonition-icon--stacked-bar-chart);
            mask-image: var(--md-admonition-icon--stacked-bar-chart);
}

.md-typeset .admonition.deprecated,
.md-typeset details.deprecated {
    border-left-color: rgb(119, 119, 119);
    border-color: rgb(119, 119, 119);
}

.md-typeset .deprecated > .admonition-title,
.md-typeset .deprecated > summary {
    background-color: rgba(119, 119, 119, 0.1);
    border-left-color: rgb(119, 119, 119);
}

.md-typeset .deprecated > .admonition-title::before,
.md-typeset .deprecated > summary::before {
    background-color: rgb(119, 119, 119);
    -webkit-mask-image: var(--md-admonition-icon--deprecated);
            mask-image: var(--md-admonition-icon--deprecated);
}

.md-typeset .deprecated > summary:focus {
    outline: none;
}

.md-typeset .deprecated > summary::after {
    color: rgb(119, 119, 119);
}
